<html>
  <header>
    <meta charset='utf-8' />
    <title>Locations</title>
  </header>
  <body>
    <h1>Nice Locations</h1>
    <ul>
      {{#each locations}}
        <li><p>{{this}}</p></li>
      {{/each}}
    </ul>
  </body>
</html>